# 配置即梦4.0画图API
VOLC_ACCESS_KEY_ID=your_access_key_here
VOLC_SECRET_ACCESS_KEY=your_secret_key_here
NEXT_PUBLIC_OFFICIAL_DOMAIN=https://your-domain.com/
# 去背景API
REMOVEBG_API_KEY=your_removebg_key_here
# 华北2（北京）
